<h1>Here are the details of <%= @cocktail.name %></h1>

<div class="container">


  <p>Add ingredients to <%= @cocktail.name %></p>
  <%= simple_form_for([@cocktail, @dose]) do |f| %>
    <%= f.error_notification %>
    <%= f.input :description %>
    <%= f.association :ingredient %>
    <%= f.submit 'Add' %>
  <% end %>

  <span class="cocktail_description">
  <p>Here are the doses</p>
  <% @cocktail.doses.each do |dose| %>
    <li><%= dose.description %> - <%= dose.ingredient.name %></li>
    <% end %>
  </span>
  <span class='links'>
    <p><%= link_to('Go back to Cocktails List', cocktails_path) %><p>
    <p><%= link_to('Delete a dose/ingredient to this cocktail', dose_path(@cocktail, @dose)) %><p>
  </span>
</div>

