
<div class="container">
  <h1>Here are the details of <%= @cocktail.name %></h1>

  <div class="picture">
    <% if @cocktail.picture? %>
      <%= cl_image_tag @cocktail.picture.path, width: 200, height: 100, crop: :fill %>
    <% else %>
      <%= cl_image_tag("rfnisvb9secsj2uq4qe0", width: 200, height: 100, crop: :fill) %>
    <% end %>
  </div>

  <div class="add-ingredients">
    <p>Add ingredients to <%= @cocktail.name %></p>
    <%= render 'new_dose_form' %>

    <span class="cocktail_description">
      <p>Here are the doses</p>
      <% @cocktail.doses.each do |dose| %>
        <li><%= dose.description %> - <%= dose.ingredient.name %> - <%= link_to('Do you want to delete the dose?', dose_path(dose),
          method: :delete,
          data: { confirm: "Are you sure?" }) %></li>
        <% end %>
    </span>
  </div>

  <span class='links'>
    <p><%= link_to('Go back to Cocktails List', cocktails_path, {class: 'btn btn-danger'}) %><p>
  </span>

</div>

