<h1>Here are the details of <%= @cocktail.name %></h1>

<div class="container">
  <span class="cocktail_description">
    <% @cocktail.name %>
    <%= @cocktail.ingredients %>
    <%= @cocktail.doses %>
  </span>
  <span class='links'>
    <%= link_to('Go back to Cocktails List', cocktails_path) %>
    <%= link_to('Add a dose/ingredient to this cocktail', new_cocktail_dose_path(@cocktail)) %>
    <%= link_to('Delete a dose/ingredient to this cocktail', dose_path(@cocktail, @dose)) %>
  </span>
</div>

